### String

In [1]:
s="AbcdEFG 123"# same as 'AbcdEFG 123'

In [3]:
s[:]# entire sring

'AbcdEFG 123'

In [4]:
s[0]# particular index

'A'

In [6]:
s[1:6]# slicing

'bcdEF'

In [22]:
print(s[242])# index out of range as max index is 10

IndexError: string index out of range

In [45]:
print(s[-242])# index out of range index, max reverse index is -11

IndexError: string index out of range

In [13]:
s[1:242]# takes maximum index value

'bcdEFG 123'

In [15]:
s[-1]# negative indexing for reverse order

'3'

In [18]:
s[-5600:5]# takes minimum index value

'AbcdE'

In [20]:
s[::2]# manually defining incrementor

'AcEG13'

In [21]:
s[::-1]# reversing using slicing

'321 GFEdcbA'

## List

In [68]:
#hetrogenious
l=["1",2,3.0,"4+i",True,None]#values are comma separated
l

['1', 2, 3.0, '4+i', True, None]

In [30]:
l[2]# accessing using index

3.0

In [32]:
# Mutable
l[2]=30.0
l

['1', 2, 30.0, '4+i', True, None]

In [33]:
# [] denote list
ls=[]
type(ls)

list

In [34]:
# allows duplicate
l[1]=30.0
l

['1', 30.0, 30.0, '4+i', True, None]

## list opeations

In [35]:
#appending
l=[]
print(l,"initial list")
l.append(1)
print(l,"final list")

[] initial list
[1] final list

In [36]:
# concatinating
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)# only returns the combined version
print(l1,l2)# does not affect the original list

[1, 2, 3, 4, 5, 6]
[1, 2, 3] [4, 5, 6]

In [82]:
#slicing
l=[1,2,3,4,5,6,7,8,9,0]
print(l[:])#completet list
print(l[1:8])#sliced list
print(l)# does not affect original list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [83]:
#min,max,len
print(l)
print(max(l))
print(min(l))
print(len(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
10

In [85]:
# cannot use these when there are mixed inputs
l=[1,"2",3,"4",5,6,"7",8,9,0]
print(max(l))
print(min(l))
l.sort()

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
#how to use when there are mixed data
l=[1,"2",3,"4",5,6,"7",8,9,0]
l=list(map(int,l))
print(max(l))
print(min(l))
l.sort()
l

9
0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
# Membership operators
print(l)
print(1 in l)
print(12 in l)
print(12 not in l)
print(1  not in l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
True
False
True
False

In [47]:
##creation

#method 1
l=[1,2,3,4] #predifined
print(l)

#method 2
l=[]
l.append(5)#appending
print(l)

#method 3
l=list((1,2,3,4)) #using list keyword
print(l)

[1, 2, 3, 4]
[5]
[1, 2, 3, 4]

In [ ]:
##sorting

In [50]:
#using sort function
l=[1,4,6,2,8,3,0,9]
print(l)
l.sort()
print(l)#alters the initial list

[1, 4, 6, 2, 8, 3, 0, 9]
[0, 1, 2, 3, 4, 6, 8, 9]

In [51]:
# Using Sorted Function
l=[1,4,6,2,8,3,0,9]
print(sorted(l))# just returns the sorted form of list
print(l)#doesn't alter the initial list

[0, 1, 2, 3, 4, 6, 8, 9]
[1, 4, 6, 2, 8, 3, 0, 9]

In [ ]:
## Reversing

In [55]:
# Slicing Method
l=[1,4,6,2,8,3,0,9]
l.sort()
l=l[::-1]
print(l)

[9, 8, 6, 4, 3, 2, 1, 0]

In [59]:
# Reverse Parameter
l=[1,4,6,2,8,3,0,9]
l.sort(reverse=True)
print(l)

[9, 8, 6, 4, 3, 2, 1, 0]

In [60]:
## Inserting

In [63]:
# Using Index
l=[1,2,3,3,5,6,7,8,9,0]
l[3]=4
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [64]:
# Using Insert
l=[1,2,3,5,6,7,8,9,0]
l.insert(3,4)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [65]:
## Itrating through list
l=[1,2,3,4,5,6,7,8,9,0]
for i in l:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 0

In [66]:
## Itrating using index
l=[1,2,3,4,5,6,7,8,9,0]
for i in range(len(l)):
    print(l[i],end=" ")

1 2 3 4 5 6 7 8 9 0

# Tuples

In [67]:
# Hetrogenious
t=("1",2,3.0,"4+i",True,None)#values are comma separated
t

('1', 2, 3.0, '4+i', True, None)

In [69]:
t[2]# accessing using index

3.0

In [70]:
# Immutable
t[2]=30.0
t

TypeError: 'tuple' object does not support item assignment

In [91]:
# () denote tuple, it is not mandatory to have ()
t=(1,2)
print(type(t))
t=1,2
print(type(t))
t=tuple()      # tuple keyword can be used for creation
print(type(t))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [89]:
# allows duplicate
t=(1,1,2,3,3)
t

(1, 1, 2, 3, 3)

In [76]:
# concatinating
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)# only returns the combined version
print(t1,t2)# does not affect the original tuple

(1, 2, 3, 4, 5, 6)
(1, 2, 3) (4, 5, 6)

In [92]:
# Indexing,Slicing,min,max and sorting are all same as in list

# Set

In [120]:
# Set is identified by {} and and , seperated values
# if : is present it'll take it as dictionary
s={1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [122]:
# Muttable
s.pop()
print(s)
s.add(4)
s

{3, 4}

{3, 4}

In [123]:
# Can't be indexed
s[1]

TypeError: 'set' object is not subscriptable

In [125]:
# Duplicate values will be ignored
s.add(4)
s

{3, 4}

# Dictionary

In [130]:
# It is also identified with {}
d={}
type(d)

dict

In [131]:
# It contains key value pairs
d={1:"one",2:"two"}
d

{1: 'one', 2: 'two'}

In [132]:
# The value can be accesed using the keys using []
d[1]

'one'

In [133]:
# Mutable
d={1: 'one', 2: 'two'}
print(d)
d[1]="ONE"
d

{1: 'one', 2: 'two'}

{1: 'ONE', 2: 'two'}

In [137]:
# Creating new key value pair
d[3]="Three"
d

{1: 'ONE', 2: 'two', 3: 'Three'}

In [138]:
# Deleting 
del d[3]
d

{1: 'ONE', 2: 'two'}

In [140]:
# Word Count prg
s="abbbcccddddddddd"
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
d

{'a': 1, 'b': 3, 'c': 3, 'd': 9}

In [145]:
# Default Dict
from collections import defaultdict #used to directly update the variable without initilizing
d=defaultdict(int)    #it automatically initializes it with appropriate value depending on the datatype
d[1]+=1
d

defaultdict(int, {1: 1})

In [146]:
# Itrating through the dictionary
d={1: 'one', 2: 'two',3:"three"}
for i in d:
    print(i,d[i])

1 one
2 two
3 three

#### Methods

In [147]:
#len()
len(d)

3

In [148]:
#clear()
d={1: 'one', 2: 'two',3:"three"}#used to delete all key value pairs in the dict
d.clear()
d

{}

In [150]:
#setdefault()
d={1: 'one', 2: 'two',3:"three"}
d.setdefault(4,"Four")
d

{1: 'one', 2: 'two', 3: 'three', 4: 'Four'}

In [151]:
#keys()
d.keys()

dict_keys([1, 2, 3, 4])

In [152]:
#values
d.values()

dict_values(['one', 'two', 'three', 'Four'])

In [153]:
#items
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'Four')])

In [157]:
#fromkeys
#without default values
t=(1,2,3)
d=d.fromkeys(t)
print(d)

#with default values
d=d.fromkeys(t,"zero")
print(d)

{1: None, 2: None, 3: None}
{1: 'zero', 2: 'zero', 3: 'zero'}

In [158]:
#zip
t1=(1,2,3)
t2=("one","two","three")
d=dict(zip(t1,t2))
d

{1: 'one', 2: 'two', 3: 'three'}

# List comprehension

In [162]:
#used to create a list with condition in a single line
[a for a in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [164]:
# add only even numbers
[a for a in range(10) if a%2==0]

[0, 2, 4, 6, 8]

In [167]:
# nested list comprehension
[(a,b) for a in range(5) for b in range(5) if a==b]

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

In [160]:
# add elements which has len>9 using list comprehension
products=["aaaaaaaaaa","bbbbb","ccccccccccccc","ddddddd","eeeeeeeeeeeeee"]
l=[i for i in products if len(i)>9]
l

['aaaaaaaaaa', 'ccccccccccccc', 'eeeeeeeeeeeeee']